/* --------------------------------- Fuentes -------------------------------- */

@font-face {
	font-family: "Perfect DOS VGA 437 Win Regular";
	src: url(../font/perfectDOS-win.woff2);
}

/* ----------------------------- Estilos Basicos ---------------------------- */

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}