/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);

/**
 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://i.imgur.com/Kvk4byv.png);
  --fluent-acrylic-background-blur: 0;
  --fluent-acrylic-background-dimness: 70%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 24px;
}

/**
 * End user options
*/

.theme-dark .chat-2ZfjoI .barBase-3xxDXu,
.theme-dark .chat-1-OBC7 .barBase-3xxDXu,
.theme-dark .chat-25x62K .barBase-3xxDXu {
  max-width: 100% !important;
}

.iconItem-1EjiK0[aria-label="Create Invite"],
button[aria-label="Send a gift"] {
  display: none !important;
}

@media all and (max-width: 600px) {
	.wrapper-1_HaEi, .sidebar-1tnWFu, .recentsIcon-F3eO1o, .anchor-1X4H4q, div[aria-label="Show Member List"], div[aria-label="Hide Member List"], .divider-q3P9HC, .topic-11NuQZ, .container-2o3qEW {
		display: none;
	}
}
